<nav class="navbar navbar-expand-lg  bg-light shadow">
  <div class="container">
    <div class="navbar-brand">
      <img height="50px" width="50px" src="/bat-svgrepo-com.svg">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>


        <% if (typeof user === 'undefined') { %>
        <li class="nav-item">
          <a class="nav-link text-success" href="/users/login">Login</a>
        </li>
        <% } %>
        <% if (typeof user != 'undefined') { %>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Management
          </a>
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="/management/tasks">Tasks</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/management/dashboard">Dashboard</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="/logout">Logout</a>
        </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>