<!DOCTYPE html>
<html lang="en">

<head>

  <title>Budget management</title>
  <%- include('../partials/headstyle.ejs'); -%>
</head>

<body>
  <%- include('../partials/navbar.ejs'); -%>
  <main>
    <h1>Budget </h1>
  </main>
  <%- include('../partials/scripts.ejs'); -%>
</body>

</html>