<!DOCTYPE html>
<html lang="en">

<head>

  <title>Management Dashboard</title>

  <%- include('../partials/headstyle.ejs'); -%>
  <link rel="stylesheet" href="/css/charts.css">
</head>

<body>

  <%- include('../partials/navbar.ejs'); -%>
  <main>
    <figure class="highcharts-figure">
      <div id="container"></div>
      <p class="highcharts-description">
        Basic line chart showing trends in a dataset. This chart includes the
        <code>series-label</code> module, which adds a label to each line for
        enhanced readability.
      </p>
    </figure>
  </main>


  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>


  <%- include('../partials/scripts.ejs'); -%>
</body>

</html>